* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body>* {
    flex: 1;
}

/* nav-bar header */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px green solid;
    padding: 0.5em 2em;

}

.header-links {
    display: flex;
    list-style-type: none;
    border: 1px green double;
}

.logo,
.header-links>li {
    margin: .5em;
    border: 1px green dotted;
}

.header-links>li>a {
    text-decoration: none;
}


/* hero-banner */
.hero-banner {
    display: flex;
    gap: 1em;
    padding: 1em 2em;
    border: 1px red solid;
}

.hero-info,
.hero-img {
    flex: 1;
    border: 1px red dotted;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
}

.hero-img {
    box-shadow: 1px 1px 2px;
}

/* info-banner */
.info-banner {
    padding: .5em 1em;
    border: 1px blue solid;
}

.info-banner>h2 {
    text-align: center;
    padding: .5em;
}

.info-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    border: 1px blue double;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    border: 1px blue dashed;
    width: 200px;
}

.card>img {
    border: 1px blue dotted;
    height: 100px;
    width: 100px;
}

.card>p {
    text-align: center;
}

/* quote-banner */
.quote-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 5em;
    text-align: start;
    /* align-items: flex-start; */
    border: 1px darkorange solid;
}

.quote-banner>p:last-child {
    padding-top: .5em;
    padding-right: 3em;
    text-align: end;
    /* align-items: flex-end; */
}

.quote-banner>p {
    border: 1px darkorange dotted;
}

/* coa-banner */
.coa-banner {
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1.5em;
    /* margin: 0px 5em; */
}

.coa,
.coa-banner>button {
    background-color: rgba(135, 246, 176, 0.56);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px purple solid;
}

footer>* {
    border: 1px purple dotted;

}

.sign-up-btn{
    padding: .5em 1em;
}

.sign-up-btn>a{
    text-decoration: none;
    font-weight: 700;
}